
.wellcome-block {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;

    img.image {
        position: absolute;
        width: 45%;
        left: 35%;
        bottom: 0;
    }
    img.logo {
        position: absolute;
        top: 37%;
        left: 11%;
        width: 34.3%;
    }
    .content {
        position: absolute;
        display: inline-block;
        background-image:url(./bubble.png);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 25%;
        height: 28%;
        direction: rtl;
        top: 22%;
        left: 68%;    
    }
    .inner-content {
        padding: 48px;
    } 
}