
.wp-block-til-posts-slider {
    position: relative;
    .excerpt-portal {
        max-width: 30%;
    }
    .excerpt-title {
        margin-bottom: 12px;
    }

    button {
        position: relative;
        z-index: 1;
    }
    .terms-box { 
        list-style: none;
        cursor: pointer;
        z-index: 1;
        padding-right: 0;
        position: relative;

        li {
            line-height: 24px;   
        }
        svg {
            vertical-align: bottom;   
        }
    }

    .slide-image {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);    
    }
}

