// @import 'theme-colors';
@import 'site-settings';
$theme-font: 100% verdana, sans-serif;

body {
  direction: $direction;
  font: $theme-font;
  // background-color: $themeColor-Light;
  h2 {
    font-size: 60px;
  }
  h3 {
    font-size: 30px;
  }
}

.login {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  .button {
    height: 40px;
    margin-top: 20px;
  }
}

// @import '_colors.scss';
// @import 'color/colors.s'
@import '../../local-react-components/style/colors/colors.scss';
// @import '_breakpoints.scss';
// @import '_variables.scss';
// @import '_mixins.scss';



