/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 23 Sep 2019, 16:17:39
    Author     : chen
*/

$almost-black: #021420;
$blue: #03456d;
$yellow: #ffd820;
$almost-white:#e6eef2;

$colors: (
    'almost-black':$almost-black,
    'almost-white':$almost-white,
    'blue': $blue,
    'yellow': $yellow
)



